# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/web/.pnp
.pnp.js

# testing
web/coverage

# production
web/build

# misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*




# Miscellaneous
mobile/*.class
mobile/*.log
mobile/*.pyc
mobile/*.swp
mobile/.DS_Store
mobile/.atom/
mobile/.buildlog/
mobile/.history
mobile/.svn/

# IntelliJ related
mobile/*.iml
mobile/*.ipr
mobile/*.iws
mobile/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
mobile/**/doc/api/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/

# Web related
mobile/lib/generated_plugin_registrant.dart

# Exceptions to above rules.
mobile/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
