<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439978066837-d7b7m3t98s4bongjbe0oo9j0in2ksifv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439978066837-d7b7m3t98s4bongjbe0oo9j0in2ksifv</string>
	<key>API_KEY</key>
	<string>AIzaSyC3NdD3oSag4-_0P4Bh_l8fkMYUUzaiLac</string>
	<key>GCM_SENDER_ID</key>
	<string>439978066837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.flownizer</string>
	<key>PROJECT_ID</key>
	<string>flownizer</string>
	<key>STORAGE_BUCKET</key>
	<string>flownizer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439978066837:ios:193691be589a2369676c9c</string>
	<key>DATABASE_URL</key>
	<string>https://flownizer.firebaseio.com</string>
</dict>
</plist>