.title {
    position: absolute;
    top: 5vh;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 2rem;
    font-weight: 400;
    margin-left: 57px;
}

.project-details {
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-left: 20%;

    .details {
        width: 50%;
        font-size: 2rem;
        font-weight: 500;
        margin-left: 57px;

        > div:not(:last-child) {
            font-size: 1.2rem;
            margin-top: 24px;
            font-weight: 300;

            span {
                font-weight: 400;
                margin-right: 30px;
            }
        }

        .button {
            background-color: #3C78D8;
            color: white;
            padding: 10px 36px;
            border-radius: 6px;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            margin-top: 20px;

            &:first-child {
                margin-right: 30px;
            }
        }
    }

    .area {
        width: 50%;
        font-size: 2rem;
        font-weight: 500;
    }
}