.timetable {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 31px;
    margin-left: 20%;
    
    > span {
        margin-left: 35px;
    }
    
    > div {
        margin-top: 31px
    }
}