.headerme {
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: white;
  box-shadow: 0 .1rem .5rem rgba($color: #000000, $alpha: 0.2);

  &__name {
    // width: 25%;
    // height: 100%;
    display: flex;
    flex-direction: column;
    &-name {
      font-size: 1.5rem;
      color: #4f4f4f;
    }
    &-position {
      font-size: 1rem;
      color: #828282;
      align-self: flex-end;
    }
  }
  &__avatar {
    margin-left: 1rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: #4fbd7d;
    align-self: center;
  }
}
